---
import Layout from "@layouts/Layout.astro";
import data from "@lib/data/data.json";
---

<Layout title="Servicios | Pisano Zona Franca">
  <section
    class="w-full bg-aboutHero bg-no-repeat bg-cover min-h-[650px] px-12 pt-36 xl:px-0 flex items-start"
  >
    <div
      class="lg:max-w-[1250px] w-full mx-auto flex flex-col bg-primary-100/80 rounded-2xl drop-shadow-2xl"
    >
      <h1
        class="text-[40px] leading-[50px] md:text-[60px] text-center xl:text-[65px] px-2 font-dm md:leading-[106.25px] w-full xl:max-w-[100%] text-primary-200"
      >
        Nuestros Servicios
      </h1>
    </div>
  </section>

  <section
    class="flex items-end justify-center w-full h-full px-4 lg:px-28 pt-[100px] lg:pt-[150px]"
  >
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-primary-100/80 rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[45px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
      >
        Servicios
      </h1>
      <p
        class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-white"
      >
        El Parque Industrial Santiago Norte (PISANO) fundado en el año 1989, es
        un proyecto privado, compuesto por una Zona Franca de Exportación y una
        Zona Industrial Nacional. Provee mecanismos de exportación para la
        manufactura y ensamblaje de productos y servicios.
      </p>
    </div>
  </section>

  <section class="w-full min-h-screen px-4 lg:px-28">
    {
      data.services.map((detail, index) => {
        const isEven = index % 2 === 0;
        const className = isEven
          ? "w-full flex flex-col-reverse lg:flex-row justify-between gap-10 items-center"
          : "w-full flex flex-col-reverse lg:flex-row-reverse justify-between gap-10 items-center";

        return (
          <section class="w-full pt-[100px] lg:pt-[150px] lg:px-0 mx-auto">
            <div class={className}>
              <div class="flex flex-col gap-6">
                <h2 class="text-[30px] text-center lg:text-left font-dm tracking-wide capitalize leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">
                  {detail.name}
                </h2>
                <p class="text-base md:text-[22px] lg:max-w-[85%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">
                  {detail.info}
                </p>
              </div>
              <img
                class="rounded-[25px] w-[650px] h-auto drop-shadow-2xl hover:scale-105 transition-all duration-300"
                src={detail.img}
                alt={detail.name}
              />
            </div>
          </section>
        );
      })
    }
  </section>
</Layout>
